html, * {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;
  background: black;
  width: 100%;
  height: 98vh;
  overflow-y: hidden;
}

.App {
}

.Board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.GuessWord {
  display: flex;
  margin-bottom: 5px;
}

.GuessLetter {
  height: 50px;
  width: 50px;
  border: 1px solid gray;
  gap: 5px;
  margin-right: 5px;
}



.Keyboard {
  margin-top: 50px;
}

.KeyboardRow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.Key {
  height: 35px;
  width: 25px;
  border: 1px solid gray;
  gap: 5px;
  margin-right: 5px;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #262626;
}

#yellowCell {
  background-color: #cfd457;
}

#greenCell {
  background-color: #5dd457;
}

#bigKey {
  width: 55px;
}
